tema1-XML/Alvarez_Pozo_Julian_LM_U1_T2/ej1.dtd

<?xml encoding="UTF-8"?>
<!DOCTYPE relacion>
<!ELEMENT relacion (persona)+>
<!ELEMENT persona (nombre,email+,parentesco?)>
<!ATTLIST persona sexo CDATA #REQUIRED>
<!ATTLIST persona carnet CDATA #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT parentesco EMPTY>
<!ATTLIST parentesco tipo CDATA #REQUIRED>