tema1-XML/Alvarez_Pozo_Julian_LM_U1_T2/ej1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="iceCreamShop">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="iceCream" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="chocolate" minOccurs="0"/>
              <xs:element type="xs:short" name="strawberry" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:date" name="manufacture" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>