tema1-XML/Alvarez_Pozo_Julian_LM_U1_T2/ej2.dtd

<?xml encoding="UTF-8"?>
<!DOCTYPE students>
<!ELEMENT students (Student)+>
<!ATTLIST student dni id #REQUIRED>
<!ELEMENT student (name,adress,phone)*>
<!ELEMENT name(#PCDATA)
<!ELEMENT adress(street,number,city)*>
<!ELEMENT street(#PCDATA)
<!ELEMENT number(#PCDATA)
<!ELEMENT city(#PCDATA)
<!ELEMENT phone(#PCDATA)