tema1-XML/Alvarez_Pozo_Julian_LM_U1_T2/ej2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element name="address" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="street"/>
                    <xs:element type="xs:interger" name="number"/>
                    <xs:element type="xs:string" name="city"/>
                    <xs:element type="xs:string" name="province"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:interger" name="phone"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="dni" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>