tema1-XML/Alvarez_Pozo_Julian_LM_U1_T2/ej3.xsd

<?xml version="1.0" encoding="UTF-8" ?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name = "relacion">
        <xs:complexType>
            <xs:sequence>
            <xs:element name = "persona">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type = " xs: string" name = "nombre"/>
                        <xs:element type = " xs: string" name = "email"/>
                        <xs:element type = " xs: string" name = "parentesco"/>
                    </xs:sequence>
                    <xs:attribute type="xs:string" name="sexo" use="optional"/>
                    <xs:attribute type="xs:string" name="carnet" use="optional"/>   
                    <xs:attribute type="xs:string" name="tipo" use="required"/>
                    
                    
                </xs:complexType>
                
            </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>